{% extends "base.html" %}

{% block app_content %}
    <h1>Добро пожаловать на сайт посвященный заметкам\запискам\историям!</h1>
    На этом сайте вы сможете оставлять свои памятки, истории, лайфхаки и различные полезные <br>
    мысли которые вы сможете реализовать впоследствии.
    <p>Сайт находится в разработке.<br>
    	<p> Если у вас возникли предложения или вопросы, почтовый ящик для связи - veshij@bk.ru</p>
        Из реализованного вы можете зарегистрироваться, войти под своей учетной записью, оставить на своей стене небольшую заметку,<br>
        посмотреть на заметки других, подписаться на их заметки, также при потере пароля вы можете восстановить его через письмо<br>
        полученное на свою почту.</p>
{% endblock %}
